@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
    width: 100%;
    background: #FFF;
    padding-left: 100px;
    padding-top: 20px;
}

header {
    color: #3A3A3A;
   font-family: Poppins;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   margin-bottom: 70px;
}
#name {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30%;
    letter-spacing: -0.72px;
    margin-bottom: 40px;
}
#job {
    color: #FF408C;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 30%;
    letter-spacing: -1.6px;
    margin-bottom: 40px;
}
#country {
    color: #000;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    line-height: 45%;
    letter-spacing: -0.72px;
    margin-bottom: 60px;
}
.contact {
    color: #3A3A3A;
    font-family: Poppins;
   font-size: 10px;
   font-style: normal;
   font-weight: 300;
   line-height: 10px;
   letter-spacing: 0.32px;
   margin-bottom: 30px;
}
#tools {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
   font-weight: 300;
   line-height: 30%;
   letter-spacing: -0.4px;
   margin-bottom: 10px;
}

.profile {
    width: 487px;
    height: 710px;
    flex-shrink: 0;
    position: absolute;
    top: 10%;
    left: 75%;
    z-index: 1;
}

.pink{
    width: 484px;
    height: 705px;
    flex-shrink: 0;
    position: absolute;
    top: 12%;
    right: -15.5%;

}

.vector{
    width: 120px;
    height: 70px;
    flex-shrink: 0;
    position: absolute;
    right: 5%;
    top: 53%;
  }
#html {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}
#css {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}
footer{
    justify-content: space-between;
    margin: auto;
    width: 30%;
}
